services:
  comment-service:
    build: .
    container_name: comment-service
    ports:
      - "8080:8080"
    environment:
      SERVICE_PORT: "8080"
      MONGO_URI: "mongodb://mongo:27017"
      MONGO_DB: "dracula_comments"
      MONGO_COLLECTION: "comments"
      KAFKA_BROKERS: "kafka:9092"
      KAFKA_TOPIC_COMMENT_CREATED: "comments.created"
      KAFKA_TOPIC_COMMENT_REPLIED: "comments.replied"
    depends_on:
      - mongo
      - kafka

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"

  zookeeper:
    image: zookeeper:3.9.1
    container_name: zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper