apiVersion: v1
kind: ConfigMap
metadata:
  name: comment-service-config
data:
  SERVICE_PORT: "8080"
  MONGO_URI: "mongodb://mongo:27017"
  MONGO_DB: "dracula_comments"
  MONGO_COLLECTION: "comments"
  KAFKA_BROKERS: "kafka:9092"
  KAFKA_TOPIC_COMMENT_CREATED: "comments.created"
  KAFKA_TOPIC_COMMENT_REPLIED: "comments.replied"