services:
  web:
    build: .
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - .:/code
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend: